@import url("https://fonts.googleapis.com/css2?family=Epilogue:wght@500;700&display=swap");
html {
  font-size: 100%;
  font-family: "Epilogue", sans-serif;
}
*,
*::before,
*::after {
  padding: 0;
  margin: 0;
  line-height: 1.3em;
  box-sizing: border-box;
}
a:visited,
a:hover,
a {
  color: hsl(0, 0%, 41%);
  text-decoration: none;
}
body {
  height: 90vh;
  background-color: hsl(0, 0%, 98%);
}
header {
  font-size: 1.125rem;
}
.hidden {
  display: none;
}
nav {
  display: flex;
  justify-content: space-between;
  padding: 2rem 1.0625rem 0; /*3px(top) 17px(sides*/
  align-items: flex-end;
}
.up {
  content: url("./images/icon-arrow-up.svg");
}
.header_logo {
  height: 1.25rem; /*20px*/
  margin-bottom: -0.109rem;
  width: 4.25rem; /*84px*/
}
.header_logo:hover {
  cursor: pointer;
}
.header_links {
  display: flex;
  align-items: center;
  width: 73%;
}
.header_links a {
  padding-left: 2rem;
}
.register {
  background: transparent; /*w-103px h-42px pad side-16px top bot-13px font-size 18px*/
  border-radius: 1rem;
  color: hsl(0, 0%, 41%);
  border: 1px solid hsl(0, 0%, 41%);
  padding: 0.8125rem 1rem;
  margin-bottom: -0.8125rem;
}
.register {
  cursor: pointer;
}
.icons {
  width: 100%;
  height: 30px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.icons img {
  width: 20%;
}
.btn {
  align-items: center;
  display: flex;
  justify-content: center;
  width: 100%;
}
.cta {
  padding: 16px 25px;
  border-radius: 20px;
  background-color: hsl(0, 0%, 8%);
  color: hsl(0, 0%, 98%);
  outline: NONE;
  margin: 1.5em 0;
  font-family: "Epilogue", sans-serif;
}
.cta:hover {
  background-color: hsl(0, 0%, 98%);
  color: hsl(0, 0%, 8%);
}
.description p {
  font-weight: 700;
  color: hsl(0, 0%, 41%);
  line-height: 0.9rem;
}
.menu_collapse a {
  display: flex;
  padding-bottom: 20px;
  font-size: 20px;
  font-weight: 500;
  letter-spacing: 0.03em;
}
.dropdown_menu img {
  width: 25px;
  height: 23px;
  margin: 0 0.5rem 0 1rem;
}
@media all and (max-width: 974px) {
  body {
    position: relative;
  }
  .image {
    margin-top: 20px;
    width: 100%;
    height: 285px;
    background-image: url("./images/image-hero-mobile.png");
    background-size: 100% 100%;
  }
  .content {
    padding: 20px 16px;
  }
  .description h2 {
    padding: 15px;
    font-size: 30px;
    text-align: center;
  }
  .description p {
    text-align: center;
    font-size: 15px;
  }
  .overlay {
    position: absolute;
    top: 0;
    left: 0;
    height: 120%;
    width: 100%;
    z-index: 10;
    background-color: rgba(0, 0, 0, 0.3);
  }
  .open {
    transform: rotate(90deg);
    transform-origin: center;
    transition: all 0.3s;
    animation: fadeOutAnimation ease 1s;
    animation-iteration-count: 1;
  }
  @keyframes fadeOutAnimation {
    0% {
      opacity: 1;
    }
    100% {
      opacity: 0;
    }
  }
  .menu_collapse {
    top: 0;
    right: 0;
    width: 65%;
    height: 100vh;
    position: absolute;
    background-color: hsl(0, 0%, 98%);
    z-index: 12;
    padding: 15px;
  }
  .collapse {
    position: absolute;
    top: 12%;
    width: 100%;
  }

  .arrow {
    display: flex;
    align-items: center;
  }
  .down {
    width: 5%;
    height: 5%;
    margin-left: 10px;
    cursor: pointer;
    margin-bottom: 10px;
  }
  #company {
    margin: 0 0 0 1rem;
  }
  .acc {
    position: relative;
    top: 40%;
    justify-content: center;
    width: 100%;
  }
  .acc a {
    display: flex;
    justify-content: center;
  }
  .regis {
    width: 93%;
    padding: 0.5rem 0.5rem;
  }
  .expand {
    animation: showTheMenu ease 1s;
    display: visible;
  }
  .hidden_forMobile {
    display: none;
  }
  @keyframes showTheMenu {
    0% {
      right: -100%;
    }
    100% {
      right: 0%;
    }
  }
  .cross {
    right: 1.0625rem;
    top: 1em;
    position: absolute;
    transition: all 0.2s ease;
    cursor: pointer;
  }
  .rotate {
    transform: rotate(90deg);
    transition: all 0.5s;
  }
}
@media all and (min-width: 974px) {
  .hidden_forTabDesktop {
    display: none;
  }
  nav {
    justify-content: space-evenly;
    padding: 1rem 1.0625rem 0; /*3px(top) 17px(sides*/
  }
  .down {
    cursor: pointer;
  }
  .header_logo {
    height: 1.125rem; /*18px*/
  }
  .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: row-reverse;
    width: 100%;
    height: 90vh;
    padding: 0.3rem;
  }
  .image {
    width: 37%;
    height: 90%;
    min-width: 305px;
    background-image: url("./images/image-hero-desktop.png");
    margin-right: 9.375rem;
    background-size: 100% 100%;
  }
  .content {
    padding: 8% 9.375rem;
    width: 60%;
    min-width: 505px;
    min-height: 400px;
    height: 100%;
  }
  .description h2 {
    font-size: 3rem;
    font-weight: 700;
  }
  .description p {
    font-weight: 500;
  }
  .btn {
    align-items: center;
    display: flex;
    justify-content: left;
    width: 100%;
  }
  .cta {
    margin: 1.5rem 0 3rem 0;
  }
  .icons {
    width: 100%;
    height: 2rem;
  }
  .dropdown_menu {
    display: flex;
    padding: 0;
    flex-direction: column;
    background-color: white;
    width: max-content;
    position: absolute;
    font-size: 1rem;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
  }
  .hidden {
    display: none;
  }
  .dropdown_menu img {
    margin-left: 0;
    cursor: pointer;
  }
  .dropdown_menu a {
    display: block;
    padding: 0;
  }
}
@media all and (max-width: 1130px) and (min-width: 974px) {
  .content {
    padding: 10% 2.375rem;
    width: 50%;
    min-width: 505px;
    min-height: 400px;
    height: 100%;
  }
  .description h2 {
    font-size: 2rem;
    font-weight: 700;
  }
  .image {
    margin-right: 2.375rem;
  }
}
